.status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
}
.friend_list {
  margin: 30px;
  width: 450px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
}
.status_red {
  background-color: red;
}

.status_green {
  background-color: green;
}
